In [2]:
# LESSONS FROM FREECODECAMP
# VARIABLES

In [4]:
name = "John"
age = "35"

In [16]:
print("There was a man named " + name + ", ")
print("He was " + age + " years old, ")
print ("he liked the name " + name+ ", ")
print ("but he didn't like being " + age + ".")

There was a man named John,
He was 35 years old,
he liked the name John,
but he didn't like being 35.

In [18]:
#types of data types in Python
# 1. string is a plain text. Usually kept in quotation marks 
# 2. number
# 3. boolean (T/F value).... note,  T and F have to be in capital letters

In [28]:
#to insert a new line (backlask)
print ("Giraffe\nAcademy")
print ("Giraffe\"Academy")
print ("Giraffe\Academy")

Giraffe
Academy
Giraffe"Academy
Giraffe\Academy

In [38]:
phrase = "Giraffe Academy"
#concatenation, Functions, Index 
print(phrase + " is cool")
print (phrase.lower())
print(phrase.upper())
print(phrase.isupper())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[0]) #index 0 to access the first character in a string
print(phrase.index("aff"))
print(phrase.replace("Giraffe", "Elephant"))

Giraffe Academy is cool
giraffe academy
GIRAFFE ACADEMY
False
True
15
G
3
Elephant Academy

In [48]:
# Working with numbers
print(-2.08 *(9/6)+66)
print(10 % 3) # gives the reminder, 10 mod 3
print(10/3)
my_num = -5
print (str(my_num)) # string conversion
print(str(my_num) + " is my favourite number")
print(abs(my_num))
print(pow(3, 2)) # 3 raised to the power of 2
print(pow(my_num, 3))
print(max(4, 6))
x = 1, 23, 34, 34
print (min(x))
print (round(3.2))
print(round(3.7))

62.88
1
3.3333333333333335
-5
-5 is my favourite number
5
9
-125
6
1

NameError: name 'mean' is not defined

In [50]:
from math import *

In [52]:
# more math function 
print(floor(3.7)) # rounds down no matter what 
print(ceil(3.7)) # rounds up no matter what 
print(sqrt(36))

3
4
6.0

In [56]:
# getting input from a user
name = input ("Enter your name: ") 
age = input("Enter your age: ")
print("Hello " + name + "! You're " + age)

Enter your name:  Fiyin
Enter your age:  22

Hello Fiyin! You're 22

In [64]:
# buliding a basic calculator
num1 = input("Enter your first number: ")
num2 = input("Enter your second number: ")
result = int(num1) + float(num2) # conversion to integer - whole number (int) then (float) decimal number
print (result)

Enter your first number:  3
Enter your second number:  8.9

11.9

In [66]:
print("Roses are red")
# skipped mad libs

Roses are red

In [80]:
#LISTS []
# A structure we can use to store lists of information in Python
# Accepts any kind of information ... numbers, booleans etc
friends = ["Anushuka", "Labode", "Foojan", "Oluwatomisona", "Sara"]
print (friends)
print(friends[1]) #using index
print(friends[-1]) #using index
print(friends[2:]) # grabs from index 2 and above
friends[1]= "Mike"
print(friends)

['Anushuka', 'Labode', 'Foojan', 'Oluwatomisona', 'Sara']
Labode
Sara
['Foojan', 'Oluwatomisona', 'Sara']
['Anushuka', 'Mike', 'Foojan', 'Oluwatomisona', 'Sara']

In [102]:
#LIST FUNCTIONS 
lucky_numbers = [4, 8, 9, 12, 3, 42, 55]
friends = ["Anushuka", "Labode", "Foojan", "Oluwatomisona", "Labode", "Foojan", "Sara"]
guests = ["Ayo", "Bolu", "Tito"]
friends.extend(guests)
friends.append("Creed") # added to the nd of the list 
friends.insert(1, "Jones") # allows you specify the location you want the new item
friends.remove ("Jones")
friends.sort()
print(friends.count("Foojan"))
#print(friends.index("Kevin"))
friends.pop()
friends.clear() # clears the list 
print(friends)
friends2 = friends.copy()
lucky_numbers.sort()
lucky_numbers.reverse()

2
[]

In [108]:
#TUPLES ()
# a data structure, a container where we can store different values
# they are immutable, that is ,can't be changed
# I can create a list of tuples
coordinates = (4, 5) # my tuple with coordinates inside
print(coordinates)
print(coordinates[0])

(4, 5)
4

In [138]:
# FUNCTIONS
def say_hi(name, age): #creating a function
    print ("Hello " + name + ". You're " + age )


say_hi("Mike", "27")
# a parameter is a piece of information that we give to the function 
say_hi("Manzi", "44")

def rt(number):
    return (sqrt(number))
          
rt(49)

Hello Mike. You're 27
Hello Manzi. You're 44

7.0

In [136]:
# RETURN STATEMENT
def cube(num):
    print(num*num*num)
    
cube(3)
#OR
def cube(num):
    return (num*num*num) #you can't put a code after return in a function
    
result=cube(4)
print(result)

27
64

In [162]:
# IF statements
is_male = True
is_tall = False

if is_male or is_tall: # will only be true when one or both is true #or #and
    print("You are either male or tall or both") # only executed when the if statement is true
elif is_male and not(is_tall):
    print("You are a tall male")
elif not(is_male) and is_tall:
    print("You are neither male nor tall")
else:
    print("You are not a  tall male ")

You are either male or tall or both
You are neither male nor tall

In [166]:
# Comparisons - did this myself 
def maxy(num):
    return max(num)

num = [1, 342, 77, 970]
maxy(num)

970

In [176]:
# cmoparison 
def max_num(num1, num2, num3):
    if num1 >= num2 and num1>= num3:
        return num1
    elif num2>=num1 and num2>= num3:
        return num2
    else:
        return num3
    
print(max_num(16, 78, 12))

78

In [194]:
#building a better calcilaTOR 
#Dictionary - a collection of values that are uniquely idenfied by a key

month_conversion = {
    "jan" : "January", 
    "feb": "February",
    "mar" :"March",
    "apr" : "April", 
    10: "October"
}

print(month_conversion["apr"])
print(month_conversion.get("jan"))
print(month_conversion.get(10))
print(month_conversion.get("luv", "Not a valid month name"))

April
January
October
Not a valid month name

In [204]:
#WHILE LOOP
# a structure in python that allows us to loop through and execute a block of codes multiple times 
# until a specified condition is false

i=1
while i <= 10:
    print(i)
    i = i+1
    
print("Done with loop")    
# or  i += 1

1
2
3
4
5
6
7
8
9
10
Done with loop

In [208]:
# GUESSING GAMES
secret_word ="giraffe"
guess = " "

while guess != secret_word:
    guess = input ("what's the secret word?") 
    
print("Correct!")

what's the secret word? gold
what's the secret word? hat
what's the secret word? giraffe

Correct!

In [226]:
# GUESSING GAMES
secret_word ="giraffe"
guess = " "
guess_count = 0
guess_limit = 3
out_of_guesses= False

while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input ("what's the secret word?") 
        guess_count += 1
    else:
        out_of_guesses = True
        
if out_of_guesses:
    print("You lose")
else:
    print("Correct!")

what's the secret word? coke
what's the secret word? jam
what's the secret word? bread

You lose

In [ ]:
# FOR LOOPS